<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\style.css">
    <title>File Upload</title>
</head>
<body>
    <div class="container">
        <h1>AI or not?</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="file">Choose a file:</label>
            <input type="file" id="file" name="file" accept=".png, .jpg, .jpeg">
            <button type="submit">Upload</button>
        </form>
        <h1>This is a {{imgclass}} for real ong ong</h1>
        <a class="a", href="expl">Explanation of this product</a>
    </div>
</body>
</html>
